body{
    background-image: url("spain_coast.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    width: 80vw;
    box-sizing: border-box;
    padding: 5vw;
    background-color: rgba(255, 255, 255, 0.7);
}
.transparent{
    background-color: rgba(255, 255, 255, 0.9);
}
.select{
    font-size: 18px;
    font-family: Arial, sans-serif;
    border-style: none;
}
.button {
  background-color: rgba(0, 205, 0, 0.9);
  border: none;
  color: white;
  padding: 6px 20px;
  padding-bottom: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0px 5px;
  cursor: pointer;
}

.h1 {
  font-weight: bolder;
}
