<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<form action="{% url 'nlp:process' %}" method="post">
    {% csrf_token %}
    <label for="src">源语言:</label>
    <select name="src" id="src">
        <option value="zh">中文</option>
        <option value="ne">尼泊尔语</option>
        <option value="si">僧伽罗语</option>
    </select>
    {% if src %}
        <script> document.getElementById("src").value = "{{ src }}"; </script>
    {% endif %}

    <label for="dst">目标语言:</label>
    <select name="dst" id="dst">
        <option value="zh">中文</option>
        <option value="ne">尼泊尔语</option>
        <option value="si">僧伽罗语</option>
    </select>
    {% if dst %}
        <script>
            document.getElementById("dst").value = "{{ dst }}";
        </script>
    {% endif %}


    <br><br>

    {% if not left %}
        <input type="text" id="contents" name="contents">
        {#        <input type="submit" value="Submit">#}
    {% else %}
        <input type="text" id="contents" name="contents" value="{{ left }}">
        {#        <input type="submit" value="Submit">#}
    {% endif %}
    <input type="submit" value="翻译">
</form>
{% if right %}
    {{ right }}
{% endif %}
</body>
</html>