<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'nlp/style.css' %}">
    <style>
        .txta {
            min-height: 30vh;
            max-height: 60vh;
            width: 70vw;
            overflow: hidden;
            line-height: 1.4;
            font-size: 20px;
            font-family: Arial, sans-serif;
            display: block;
        }
    </style>
</head>

<body>
<div class="container">
    <form action="{% url 'nlp:process' %}" method="post">
        {% csrf_token %}
        <label for="dst" class="select transparent" style="padding:8px">源语言:</label>
        <select class="select transparent" name="src" id="src"  style="padding:8px;margin:0px;margin-right:30px;">
            <option value="zh">中文</option>
            <option value="ne">尼泊尔语</option>
            <option value="si">僧伽罗语</option>
        </select>

        {% if src %}
            <script> document.getElementById("src").value = "{{ src }}"; </script>
        {% endif %}

        <label for="dst" class="select transparent" style="padding:8px;">目标语言:</label>
        <select class="select transparent" name="dst" id="dst"  style="padding:8px;margin-right:30px;">
            <option value="zh">中文</option>
            <option value="ne">尼泊尔语</option>
            <option value="si">僧伽罗语</option>
        </select>
        {% if dst %}
            <script>
                document.getElementById("dst").value = "{{ dst }}";
            </script>
        {% endif %}

        <input type="submit" class="transparent button" value="翻译">


        <br><br>

        <textarea class="txta transparent" name="contents2"
                  style="resize: none;margin:auto;">{{ left|default:"" }}</textarea>
        <br><br>
        <textarea readonly class="txta transparent" name="results"
                  style="resize: none;margin:auto;">{{ right|default:"" }}</textarea>
    </form>
</div>
<br><br>

<script src="{% static 'nlp/adjustable_textarea.js' %}"></script>
</body>
</html>